<div id="footer">

    <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
        <div style="clear: both;"></div>
        <div style="text-align: center; margin: 10px auto">
            <%- page.adv.bottom %>
        </div>
        <div style="clear: both;"></div>
    <% } %>

    <div class="fullstory-drops recentlyViewedBlock" style="margin: 20px 0; display: none;">
        <div><%- page.l.watched %>:</div>
        <div id="recentlyViewed"></div>
    </div>

    <span class="texto">
        &copy;&nbsp;<%- new Date().getFullYear() %>&nbsp;<a href="https://cinemapress.io"
                                                            target="_blank">CinemaPress</a>
        Email: <span id="mylo">Activate JS</span><script>(function(d, i, l, r) {
          d.getElementById(i).innerHTML = l + '@' + r;
        })(window.document, 'mylo', '<%- page.email.split('@')[0] %>', '<%- page.email.split('@')[1] %>');</script>
    </span>

    <script src="/themes/<%- page.theme %>/public/js/all.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Source Sans Pro']
        }
      });
    </script>
</div>

<script>
  (function() {
    var dataAllSrc = document.querySelectorAll('[data-cinemapress-src],[data-cinemapress-bg-src]');
    var dataAllSrcCount = (dataAllSrc && dataAllSrc.length) || 0;
    var dataAllSrcCountComp = 0;
    var fSrc = {
      'dataCountImage': function() {
        dataAllSrcCountComp = dataAllSrcCountComp+1;
        if (dataAllSrcCount && dataAllSrcCountComp >= dataAllSrcCount) {
          dataAllSrcCount = 0;
          setTimeout(function() {
            fSrc['checkLoad'](dataAllSrc, 'dataSetImage');
          }, 1);
        }
      },
      'dataSetImage': function(el) {
        var src = el.dataset.cinemapressSrc;
        var bgSrc = el.dataset.cinemapressBgSrc;
        if (!src && !bgSrc) return;
        var img = new Image();
        img.src = src ? src : bgSrc;
        img.onload = function() {
          if (src) { el.src = src; }
          else { el.style.backgroundImage = 'url("' + bgSrc + '")';}
        }
      },
      'checkLoad': function(els, fn) {
        if (!els) return;
        els.forEach(function(src) {
          if (typeof src.complete === 'undefined' || src.complete) {
            fSrc[fn](src);
          } else {
            src.addEventListener('load', function() {
              fSrc[fn](this);
            }, { once: true });
          }
        });
      }
    }
    fSrc['checkLoad'](dataAllSrc, 'dataCountImage');
  })();
</script>

<%- page.codes.footer %>