<div class="rheader">
    <div class="box">
        <div class="left">
            <a href="javascript:void(0)" class="rclic"><strong class="icon-bars"></strong></a>
        </div>
        <div class="rmenus">
            <div>
                <ul>
                    <li class="page_item">
                        <a href="/<%- page.urls.year %>"><%- page.l.allYears %></a>
                    </li>
                    <li class="page_item">
                        <a href="/<%- page.urls.genre %>"><%- page.l.allGenres %></a>
                    </li>
                    <li class="page_item">
                        <a href="/<%- page.urls.country %>"><%- page.l.allCountries %></a>
                    </li>
                    <li class="page_item">
                        <a href="/<%- page.urls.actor %>"><%- page.l.allActors %></a>
                    </li>
                    <li class="page_item">
                        <a href="/<%- page.urls.director %>"><%- page.l.allDirectors %></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <a class="rclic2"><strong class="icon-search"></strong></a>
        </div>
        <div class="rbuscar">
            <form method="get" action="/<%- page.urls.search %>">
                <div class="textar">
                    <input class="buscar" type="text" placeholder="<%- page.l.search %> ..." name="q" value="" data-autocomplete="mobile">
                </div>
                <div class="cinemapress-autocomplete" data-autocomplete="mobile"></div>
            </form>
        </div>
        <div class="center">
            <a href="/">
                <img src="/themes/<%- page.theme %>/public/images/logo.png?v=<%- page.ver %>" alt="Logo"/>
            </a>
        </div>
    </div>
</div>
<div id="header">
    <div class="top">
        <div class="menu">
            <ul id="menu-header-menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                    <a href="/"><%- page.title %></a>
                </li>
            </ul>
            <% if (page.social) { %>
            <div class="social">
                <% if (page.social.vk) { %>
                <a href="<%- page.social.vk %>" target="_blank"><%- page.l.vk %></a>
                <% } %>
                <% if (page.social.facebook) { %>
                <a href="<%- page.social.facebook %>" target="_blank"><%- page.l.facebook %></a>
                <% } %>
                <% if (page.social.telegram) { %>
                    <a href="<%- page.social.telegram %>" target="_blank"><%- page.l.telegram %></a>
                <% } %>
                <% if (page.social.twitter) { %>
                <a href="<%- page.social.twitter %>" target="_blank"><%- page.l.twitter %></a>
                <% } %>
                <% if (page.social.youtube) { %>
                <a href="<%- page.social.youtube %>" target="_blank"><%- page.l.youtube %></a>
                <% } %>
                <% if (page.social.instagram) { %>
                <a href="<%- page.social.instagram %>" target="_blank"><%- page.l.instagram %></a>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
    <div id="cabeza" class="navegador">
        <div class="caja">
            <div class="logo">
                <A href="/">
                    <img src="/themes/<%- page.theme %>/public/images/logo.png?v=<%- page.ver %>" alt="Logo"/>
                </a>
            </div>
            <div style="margin: auto auto auto 5px; display: none;" class="menu continueViewingBlock">
                <div>
                    <ul>
                        <li class="page_item" id="continueViewing">
                            <a href="javascript:void(0)"><%- page.l.continue %>?</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="randomMovieMenu">
                <div style="margin: auto auto auto 5px;" class="menu cinemapress-random-menu">
                    <div>
                        <ul>
                            <li class="page_item">
                                <a href="/?random"><%- page.l.lucky %></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div>
                    <ul>
                        <li class="page_item">
                            <a href="/<%- page.urls.year %>"><%- page.l.allYears %></a>
                        </li>
                        <li class="page_item">
                            <a href="/<%- page.urls.genre %>"><%- page.l.allGenres %></a>
                        </li>
                        <li class="page_item">
                            <a href="/<%- page.urls.country %>"><%- page.l.allCountries %></a>
                        </li>
                        <li class="page_item">
                            <a href="/<%- page.urls.actor %>"><%- page.l.allActors %></a>
                        </li>
                        <li class="page_item">
                            <a href="/<%- page.urls.director %>"><%- page.l.allDirectors %></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>