<div class="header">
    <div>
        <ul>
            <li class="page_item">
                <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>"><%- page.l.movies %></a>
            </li>
            <li class="page_item">
                <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>"><%- page.l.series %></a>
            </li>
            <li class="page_item">
                <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>"><%- page.l.cartoons %></a>
            </li>
            <li class="page_item">
                <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>"><%- page.l.anime %></a>
            </li>
            <li class="page_item">
                <a href="/<%- page.urls.type %>/<%- page.urls.types.tv %>"><%- page.l.tv %></a>
            </li>
        </ul>
    </div>
    <div class="buscador" style="padding: 1px 19px 1px 10px;">
        <form method="get" action="/<%- page.urls.search %>">
            <div class="imputo">
                <input class="buscar" placeholder="<%- page.l.search %> ..." name="q" type="text" data-autocomplete="desktop">
                <input value="<%- page.l.search %>" style="background: none; border: 0; color:#999;cursor: pointer;" type="submit">
                <div class="cinemapress-autocomplete" data-autocomplete="desktop"></div>
            </div>
        </form>
    </div>
</div>

<% if (typeof page.adv === 'object' && page.adv.top) { %>
<div style="clear: both;"></div>
<div style="text-align: center; margin: 10px auto">
    <%- page.adv.top %>
</div>
<div style="clear: both;"></div>
<% } %>