<div class="lateral">

    <div>

        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus" style="margin: 5px auto 15px auto; text-align: center;"></div>

        <div class="categorias">
            <ul class="scrolling cat">
                <% page.urls.genres.forEach(function(genre) { %>
                <li class="cat-item">
                    <a href="<%- genre.url %>">
                        <%- genre.title %>
                    </a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="filtro_y">
            <ul class="scrolling">
                <% page.urls.years.slice(0,10).forEach(function(year) { %>
                <li>
                    <a class="ito" href="<%- year.url %>">
                        <%- year.title %>
                    </a>
                </li>
                <% }); %>
            </ul>
        </div>

        <% if (typeof soon === 'object' && soon.length) { %>

        <div class="categorias">
            <h3>Скоро выйдет <span class="icon-sort"></span></h3>
            <ul class="scrolling cat">

                <% soon.forEach(function (movie) { %>

                <li class="cat-item">
                    <a href="<%- movie.url %>" title="<%- movie.title %>">
                        <%- movie.title %>
                    </a>
                </li>

                <% }); %>

            </ul>
        </div>

        <% } %>

        <% if (typeof news === 'object' && news.length) { %>
        <% news.forEach(function (content) { %>
        <div>
            <div style="margin: 0; padding: 10px 0">
                <a href="<%- content.url %>" class="cinemapress-news">
                    <img src="<%- content.image %>" class="cinemapress-news-image" alt="<%- content.title %>" style="height: 160px">
                    <div class="cinemapress-news-title">
                        <%- content.title %>
                    </div>
                </a>
            </div>
        </div>
        <% }); %>
        <% } %>

        <% if (typeof page.adv === 'object' && page.adv.right) { %>
        <div style="clear:both;"></div>
        <div style="text-align: center; margin: 10px auto">
            <%- page.adv.right %>
        </div>
        <% } %>

        <% if (typeof recent === 'object' && recent.length) { %>
        <% recent.forEach(function (comment) { %>
        <div style="margin: 10px 0;">
            <div class="cinemapress-recent">
                <div class="cinemapress-recent-head">
                    <% if (comment.avatar) { %>
                    <div class="cinemapress-recent-head-avatar">
                        <img src="<%- comment.avatar %>" alt="<%- comment.user %>">
                    </div>
                    <% } %>
                    <div class="cinemapress-recent-head-meta">
                        <div>
                            <a href="<%- comment.url %>"><%- comment.title %></a>
                        </div>
                        <div>
                        <span>
                            <%- comment.user %>
                        </span><span>
                            сказал(а)
                        </span><span>
                            <%- comment.date %>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="cinemapress-recent-comment">
                    <%- comment.comment %>
                </div>
            </div>
        </div>
        <% }); %>
        <% } %>

    </div>
</div>