<!DOCTYPE html>
<html lang="<%- page.language %>">
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div class="kapla">

    <% include includes/header.ejs %>

    <div id="contenedor">
        <div class="contenido">

            <div class="box">

                <% include includes/header2.ejs %>

                <div class="box_item">

                    <% if (typeof slider === 'object' && slider.length) { %>

                    <div class="slider_box s_home">
                        <div class="head_slider">
                            <div class="controles">
                                <a class="prev btn"><b class="icon-angle-left"></b></a>
                                <a class="play btn"><b class="icon-playback-play"></b></a>
                                <a class="next btn"><b class="icon-angle-right"></b></a>
                            </div>
                        </div>
                        <div class="owl-carousel owl-theme slider1">

                            <% slider.forEach(function (movie) { %>

                            <div class="item">
                                <div class="imagens">
                                    <a href="<%- movie.url %>"><img src="<%- movie.poster %>" alt="<%= movie.title %> (<%- movie.year %>) полный фильм онлайн" style="width: 100%; height: 100%;"/></a>
                                    <span class="imdb"><b><b class="icon-star"></b></b> <%- movie.rating/10 %></span>
                                </div>
                                <span class="ttps"><%= movie.title %> (<%- movie.year %>)</span>
                                <span class="ytps"><%- movie.year %></span>
                            </div>

                            <% }); %>

                        </div>
                    </div>

                    <% } %>

                    <div class="peliculas">
                        <div id="revel" class="skl">
                            <div class="a">
                                <% if (page.social) { %>
                                <% if (page.social.vk) { %>
                                <a class="roce" href="<%- page.social.vk %>" target="_blank">
                                    <b class="icon-vk"></b>
                                </a>
                                <% } %>
                                <% if (page.social.facebook) { %>
                                <a class="roce" href="<%- page.social.facebook %>" target="_blank">
                                    <b class="icon-facebook"></b>
                                </a>
                                <% } %>
                                <% if (page.social.twitter) { %>
                                <a class="roce" href="<%- page.social.twitter %>" target="_blank">
                                    <b class="icon-twitter"></b>
                                </a>
                                <% } %>
                                <% if (page.social.gplus) { %>
                                <a class="roce" href="<%- page.social.gplus %>" target="_blank">
                                    <b class="icon-google-plus"></b>
                                </a>
                                <% } %>
                                <% if (page.social.youtube) { %>
                                <a class="roce" href="<%- page.social.youtube %>" target="_blank">
                                    <b class="icon-youtube4"></b>
                                </a>
                                <% } %>
                                <% if (page.social.instagram) { %>
                                <a class="roce" href="<%- page.social.instagram %>" target="_blank">
                                    <b class="icon-profile"></b>
                                </a>
                                <% } %>
                                <% } %>
                                <div class="menus">
                                    <div>
                                        <ul>
                                            <li class="page_item">
                                                <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>">Фильмы</a>
                                            </li>
                                            <li class="page_item">
                                                <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>">Сериалы</a>
                                            </li>
                                            <li class="page_item">
                                                <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>">Мультфильмы</a>
                                            </li>
                                            <li class="page_item">
                                                <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>">Аниме</a>
                                            </li>
                                            <li class="page_item">
                                                <a href="/<%- page.urls.type %>/<%- page.urls.types.tv %>">Передачи</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="b">
                                <form method="get" action="/<%- page.urls.search %>/title">
                                    <div class="boxs">
                                        <input type="text" placeholder="Поиск ..." value="" name="q">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div style="clear: both;"></div>

                        <h1><%= page.title %></h1>

                        <% if (page.seo) { %>

                        <div class="seo">
                            <%- page.seo %>
                        </div>

                        <% } %>

                        <div style="clear: both;"></div>

                        <% if (typeof categories === 'object' && categories.length) { %>
                        <div style="clear: both"></div>
                        <% categories.forEach(function (content) { %>
                        <div style="float: left; width: 33.33%;">
                            <div style="margin: 0; padding: 10px">
                                <a href="<%- content.url %>" class="cinemapress-news" style="background:url(<%- content.image %>);">
                                    <div class="cinemapress-news-title">
                                        <%= content.title %>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <% }); %>
                        <div style="clear: both"></div>
                        <% } %>

                        <div style="clear: both;"></div>

                    </div>

                    <% include includes/right.ejs %>

                </div>
            </div>

            <% include includes/footer.ejs %>

        </div>
    </div>
</div>
</body>
</html>