<!DOCTYPE html>
<html lang="<%- page.language %>" prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div class="kapla">

    <% include includes/header.ejs %>

    <div id="contenedor">
        <div class="contenido">

            <div class="box">

                <% include includes/header2.ejs %>

                <div class="box_item">

                    <% if (typeof slider === 'object' && slider.length) { %>
                    <div class="slider_box s_home">
                        <div class="head_slider">
                            <div class="controles">
                                <a class="prev btn"><strong class="icon-angle-left"></strong></a>
                                <a class="play btn"><strong class="icon-playback-play"></strong></a>
                                <a class="next btn"><strong class="icon-angle-right"></strong></a>
                            </div>
                        </div>
                        <div class="owl-carousel owl-theme slider1">
                            <% slider.forEach(function (movie) { %>
                            <div class="item">
                                <div class="imagens">
                                    <a href="<%- movie.url %>"><img src="<%- movie.poster %>" alt="<%= movie.title %>" title="<%= movie.title %>" style="width: 100%; height: 100%;"></a>
                                    <span class="imdb"><strong class="icon-star"></strong> <%- movie.rating/10 %></span>
                                </div>
                                <span class="ttps"><%= movie.title %> (<%- movie.year %>)</span>
                                <span class="ytps"><%- movie.year %></span>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                    <% } %>

                    <% if (typeof page.adv === 'object' && page.adv.over) { %>
                    <div style="clear: both;"></div>
                    <div style="text-align: center; margin: 10px auto">
                        <%- page.adv.over %>
                    </div>
                    <div style="clear: both;"></div>
                    <% } %>

                    <div id="player2">
                        <%- page.player %>
                    </div>

                    <div style="clear: both;"></div>

                    <div class="player_nav">
                        <ul>
                            <li>
                                <a href="<%- movie.url %>">
                                    <%- page.l.information %>
                                </a>
                            </li>
                            <% if (page.urls.movies.online) { %>
                            <li>
                                <a href="<%- movie.url %>/<%- page.urls.movies.online %>">
                                    <%- page.l.online %>
                                </a>
                            </li>
                            <% } %>
                            <% if (page.urls.movies.download) { %>
                            <li>
                                <a href="<%- movie.url %>/<%- page.urls.movies.download %>">
                                    <%- page.l.download %>
                                </a>
                            </li>
                            <% } %>
                            <% if (page.urls.movies.trailer) { %>
                            <li>
                                <a href="<%- movie.url %>/<%- page.urls.movies.trailer %>">
                                    <%- page.l.trailer %>
                                </a>
                            </li>
                            <% } %>
                            <% if (page.urls.movies.picture) { %>
                            <li>
                                <a href="<%- movie.url %>/<%- page.urls.movies.picture %>">
                                    <%- page.l.picture %>
                                </a>
                            </li>
                            <% } %>
                            <li style="float: right; width: 22%; display: none;" class="watchLaterBlock">
                                <a href="javascript:void(0)" id="watchLater">
                                    <%- page.l.later %>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <% if (typeof page.adv === 'object' && page.adv.under) { %>
                    <div style="clear: both;"></div>
                    <div style="text-align: center; margin: 10px auto">
                        <%- page.adv.under %>
                    </div>
                    <div style="clear: both;"></div>
                    <% } %>

                    <div class="peliculas">

                        <div id="single">
                            <div class="post-ratings">
                                <div class="s_left">
                                    <div id="uwee" class="sbox">
                                        <div class="imagen">
                                            <div class="fix">
                                                <div class="cinemapress-poster">
                                                    <img src="<%- movie.poster %>" alt="<%= page.title %>" title="<%= page.title %>" data-cinemapress-poster="<%- movie.poster %>">
                                                    <% if (movie.quality) { %>
                                                    <div class="cinemapress-quality">
                                                        <span class="cinemapress-svg-quality"></span>
                                                        <%- movie.quality %>
                                                    </div>
                                                    <% } %>
                                                    <% if (movie.translate) { %>
                                                    <div class="cinemapress-translate">
                                                        <span class="cinemapress-svg-translate"></span>
                                                        <%- movie.translate %>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <h1><%- page.h1 %></h1>
                                            <span class="titulo_o"><%= movie.title_en %>&nbsp;&nbsp;&nbsp;&nbsp;<%- movie.premiere %></span>
                                            <p class="meta">
                                                <% if (movie.year_url) { %>
                                                <span>
                                                    <%- movie.year_url %>
                                                </span>
                                                <% } %>
                                                &nbsp;
                                                <% if (movie.genres_url) { %>
                                                <i class="limpiar">
                                                    <%- movie.genres_url %>
                                                </i>
                                                <% } %>
                                            </p>
                                            <div class="imdb_r">
                                                <div class="a">
                                                    <span><%- movie.imdb_rating/10 %></span>
                                                </div>
                                                <div class="b">
                                                    <div class="bar">
                                                        <span style="width: <%- movie.imdb_rating %>%"></span>
                                                    </div>
                                                    <span class="dato">
                                                        <%- page.l.imdb %>: <strong><%- movie.imdb_rating/10 %>/10</strong> <strong><%- movie.imdb_vote %> <%- page.l.votes %></strong>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="kp_r">
                                                <div class="a">
                                                    <span><%- movie.kp_rating/10 %></span>
                                                </div>
                                                <div class="b">
                                                    <div class="bar">
                                                        <span style="width: <%- movie.kp_rating %>%"></span>
                                                    </div>
                                                    <span class="dato">
                                                        <%- page.l.kp %>: <strong><%- movie.kp_rating/10 %>/10</strong> <strong><%- movie.kp_vote %> <%- page.l.votes %></strong>
                                                    </span>
                                                </div>
                                            </div>
                                            <% if (movie.directors_url) { %>
                                            <p class="meta_dd">
                                                <strong class="icon-megaphone"></strong>
                                                <%- movie.directors_url %>
                                            </p>
                                            <% } %>
                                            <% if (movie.actors_url) { %>
                                            <p class="meta_dd limpiar">
                                                <strong class="icon-male"></strong>
                                                <%- movie.actors_url %>
                                            </p>
                                            <% } %>
                                            <% if (movie.countries_url) { %>
                                            <p class="meta_dd">
                                                <strong class="icon-flag"></strong>
                                                <%- movie.countries_url %>
                                            </p>
                                            <% } %>
                                        </div>

                                    </div>

                                    <% if (movie.description) { %>
                                    <div class="sbox">
                                        <div class="entry-content">
                                            <h3><%- page.l.storyline %></h3>
                                            <%- movie.description %>
                                        </div>
                                    </div>
                                    <% } %>

                                    <% if (typeof contents === 'object' && contents.length) { %>
                                    <div style="clear: both"></div>
                                    <div class="sbox">
                                        <% contents.forEach(function (content) { %>
                                        <div style="float: left; width: 50%;">
                                            <div style="margin: 0; padding: 10px">
                                                <a href="<%- content.url %>" class="cinemapress-news" style="background-image:url(<%- content.image %>);">
                                                    <div class="cinemapress-news-title">
                                                        <%= content.title %>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <% }); %>
                                    </div>
                                    <div style="clear: both"></div>
                                    <% } %>

                                    <% if (page.seo) { %>
                                    <div class="sbox">
                                        <div class="entry-content">
                                            <%- page.seo %>
                                        </div>
                                    </div>
                                    <% } %>

                                    <div class="sbox episodesListBlock" style="display: none;">
                                        <div class="entry-content">
                                            <h3><%= movie.title %> <%- page.l.episodes %></h3>
                                            <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
                                        </div>
                                    </div>

                                    <% if (page.comments) { %>

                                    <div class="comentarios">
                                        <div id="comments" class="themeform">
                                            <%- page.comments %>
                                        </div>
                                    </div>

                                    <% } %>

                                    <% if (typeof movies === 'object') { for (var type in movies) { if (movies.hasOwnProperty(type)) { %>

                                    <% if (movies[type].length) { %>

                                    <div class="sbox">
                                        <div class="entry-content">

                                            <% movies[type].forEach(function (category) { %>

                                            <div class="slider_box" style="margin-bottom: 25px;">
                                                <div class="head_slider">
                                                    <h3>
                                                        <%- category.name %>
                                                        <div class="randomMovieRelated">
                                                            <div class="cinemapress-random-related"
                                                                 onclick="window.location.href='<%- category.url %>?random'"
                                                                 title="<%- page.l.random %>">
                                                                <img src="/themes/cersei/public/images/dice.svg" alt="<%- page.l.random %>">
                                                            </div>
                                                        </div>
                                                    </h3>
                                                    <div class="controles">
                                                        <a class="prev2 btn">
                                                            <strong class="icon-angle-left"></strong>
                                                        </a>
                                                        <a class="next2 btn">
                                                            <strong class="icon-angle-right"></strong>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="owl-carousel owl-theme slider2">

                                                    <% if (category.movies.length) { %>

                                                    <% category.movies.forEach(function (movie) { %>

                                                    <div class="item">
                                                        <div class="imagens">
                                                            <a href="<%- movie.url %>">
                                                                <img src="<%- movie.poster %>" alt="<%= movie.title %>" title="<%= movie.title %>" style="width: 100%; height: 100%;">
                                                            </a>
                                                            <span class="imdb"><strong class="icon-star"></strong> <%- movie.rating/10 %></span>
                                                        </div>
                                                        <span class="ttps" title="<%= movie.title %> (<%- movie.year %>)"><%= movie.title %></span>
                                                        <span class="ytps"><%- movie.year %></span>
                                                    </div>

                                                    <% }); %>

                                                    <% } %>

                                                </div>
                                            </div>

                                            <% }); %>

                                        </div>
                                    </div>

                                    <% } %>

                                    <% } } } %>

                                </div>
                            </div>
                        </div>

                    </div>

                    <% include includes/right.ejs %>

                </div>
            </div>

            <% include includes/footer.ejs %>

        </div>
    </div>
</div>
</body>
</html>