<!DOCTYPE html>
<html lang="ru">
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div class="kapla">

    <% include includes/header.ejs %>

    <div id="contenedor">
        <div class="contenido">

            <div class="box">

                <% include includes/header2.ejs %>

                <% if (typeof page.adv == 'object' && page.adv.top) { %>
                <div style="text-align: center; margin: 10px auto">
                    <%- page.adv.top %>
                </div>
                <% } %>

                <div class="box_item">

                    <% if (typeof slider == 'object' && slider.movies.length) { %>

                    <div class="slider_box s_home">
                        <div class="head_slider">
                            <div class="controles">
                                <a class="prev btn"><b class="icon-angle-left"></b></a>
                                <a class="play btn"><b class="icon-playback-play"></b></a>
                                <a class="next btn"><b class="icon-angle-right"></b></a>
                            </div>
                        </div>
                        <div class="owl-carousel owl-theme slider1">

                            <% slider.movies.forEach(function (movie) { %>

                            <div class="item">
                                <div class="imagens">
                                    <a href="<%- movie.url %>"><img src="<%- movie.poster %>" alt="<%- movie.title %> (<%- movie.year %>) полный фильм онлайн" style="width: 100%; height: 100%;"/></a>
                                    <span class="imdb"><b><b class="icon-star"></b></b> <%- movie.rating/10 %></span>
                                </div>
                                <span class="ttps" title="<%- movie.title %> (<%- movie.year %>)"><%- movie.title %> (<%- movie.year %>)</span>
                                <span class="ytps"><%- movie.year %></span>
                            </div>

                            <% }); %>

                        </div>
                    </div>

                    <% } %>

                    <div class="peliculas">
                        <div id="revel" class="skl">
                            <div class="a">
                                <% if (page.social) { %>
                                <% if (page.social.vk) { %>
                                <a class="roce" href="<%- page.social.vk %>" target="_blank">
                                    <b class="icon-vk"></b>
                                </a>
                                <% } %>
                                <% if (page.social.facebook) { %>
                                <a class="roce" href="<%- page.social.facebook %>" target="_blank">
                                    <b class="icon-facebook"></b>
                                </a>
                                <% } %>
                                <% if (page.social.twitter) { %>
                                <a class="roce" href="<%- page.social.twitter %>" target="_blank">
                                    <b class="icon-twitter"></b>
                                </a>
                                <% } %>
                                <% if (page.social.gplus) { %>
                                <a class="roce" href="<%- page.social.gplus %>" target="_blank">
                                    <b class="icon-google-plus"></b>
                                </a>
                                <% } %>
                                <% } %>
                                <div class="menus">
                                    <div>
                                        <ul>
                                            <li class="page_item">
                                                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.movie %>">Фильмы</a>
                                            </li>
                                            <li class="page_item">
                                                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.serial %>">Сериалы</a>
                                            </li>
                                            <li class="page_item">
                                                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.mult %>">Мультфильмы</a>
                                            </li>
                                            <li class="page_item">
                                                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.anime %>">Аниме</a>
                                            </li>
                                            <li class="page_item">
                                                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.tv %>">Передачи</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="b">
                                <form method="get" action="<%- page.protocol %><%- page.domain %>/<%- page.urls.search %>/title">
                                    <div class="boxs">
                                        <input type="text" placeholder="Поиск ..." value="" name="q">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <h1><%- page.title %></h1>

                        <% if (page.seo) { %>

                        <div class="seo" style="border-bottom: 0;">
                            <%- page.seo %>
                        </div>

                        <% } %>

                        <% if (typeof movies == 'object') { for (var type in movies) { if (movies.hasOwnProperty(type)) { %>

                        <% if (movies[type].length) { %>

                        <% movies[type].forEach(function (category) { %>

                        <h2><%- category.name %></h2>

                        <% if (category.movies.length) { %>

                        <% category.movies.forEach(function (movie) { %>

                        <div class="items">
                            <div class="item">
                                <a href="<%- movie.url %>">
                                    <div class="image">
                                        <img src="<%- movie.poster %>" alt="<%- movie.title %> (<%- movie.year %>) полный фильм" style="width: 100%; height: 100%;"/>
                                        <span class="player"></span>
                                        <span class="imdb"><b><b class="icon-star"></b></b> <%- movie.rating/10 %></span>
                                    </div>
                                </a>
                                <div class="fixyear">
                                    <h3><%- movie.title %> (<% if (movie.season && movie.episode) { %><%- movie.season %> сезон <%- movie.episode %> серия <% if (movie.translate) { %><%- movie.translate %><% } %><% } else { %><%- movie.year %><% } %>)</h3>
                                    <span class="year">
                                        <% if (movie.season && movie.episode) { %><%- movie.season %> сезон <%- movie.episode %> серия <% if (movie.translate) { %> <%- movie.translate %><% } %><% } else { %><%- movie.year %><% } %>
                                    </span>
                                </div>
                                <span class="calidad2"><%- movie.genre %></span>
                            </div>
                        </div>

                        <% }); %>

                        <% } %>

                        <% }); %>

                        <% } %>

                        <% } } } %>

                    </div>

                    <% include includes/right.ejs %>

                </div>
            </div>

            <% if (typeof page.adv == 'object' && page.adv.bottom) { %>
            <div style="text-align: center; margin: 10px auto">
                <%- page.adv.bottom %>
            </div>
            <% } %>

            <% include includes/footer.ejs %>

        </div>
    </div>
</div>
</body>
</html>